@model List<MyPlace.ViewModel.UserImageViewModel>

@{
    ViewData["Title"] = "UserImages";
}

<h1>UserImages</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
               Image
            </th>
            <th>
                Date Posted
            </th>
            <th>
                Is Private
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                <img src="@item.ImageUrl" alt="image" style="width: 50px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrivate)
            </td>
            <td>
               <a asp-action="EditImage" asp-route-imageId="@item.Id">Edit</a>  | <a asp-action="DeleteImage" asp-route-imageId="@item.Id" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
